<div class="card border-0 bg-light shadow-sm pb-2">
    <img class="card-img-top mb-2" src={{courseInput.img}} alt="">
    <div class="card-body text-center">
        <h4 class="card-title">{{courseInput.class}}</h4>
        <p class="card-text">{{courseInput.description}}</p>
    </div>
    <div class="card-footer bg-transparent py-4 px-5">
        <div class="row border-bottom">
            <div class="col-6 py-1 text-right border-right"><strong>Age of Kids</strong></div>
            <div class="col-6 py-1">{{courseInput.ageOfKids}} Years</div>
        </div>
        <div class="row border-bottom">
            <div class="col-6 py-1 text-right border-right"><strong>Total Seats</strong></div>
            <div class="col-6 py-1">{{courseInput.totalSeats}} Seats</div>
        </div>
        <div class="row border-bottom">
            <div class="col-6 py-1 text-right border-right"><strong>Class Time</strong></div>
            <div class="col-6 py-1">{{courseInput.duration}}</div>
        </div>
        <div class="row">
            <div class="col-6 py-1 text-right border-right"><strong>Tution Fee</strong></div>
            <div class="col-6 py-1">{{courseInput.price}} / Month</div>
        </div>
    </div>
    <a href="" class="btn btn-primary px-4 mx-auto mb-4">Join Now</a>
</div>
