<app-learnmore></app-learnmore>
<!-- Header End -->


<!-- Facilities Start -->
<app-activity></app-activity>
<!-- Facilities Start -->


<!-- About Start -->
<app-aboutus></app-aboutus>
<!-- About End -->


<!-- Class Start -->
<app-popularclasses></app-popularclasses>
<!-- Class End -->


<!-- Registration Start -->
<app-book-a-seat></app-book-a-seat>
<!-- Registration End -->


<!-- Team Start -->
<app-ourteachers></app-ourteachers>
<!-- Team End -->


<!-- Testimonial Start -->
<app-testimonials></app-testimonials>
<!-- Testimonial End -->


<!-- Blog Start -->
<app-blog></app-blog>
<!-- Blog End -->

